<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/home">Customer Management Portal</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link waves-light " mdbWavesEffect  routerLink="/customer-list">Customer List</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect  routerLink="/new-customer">New Customer</a>
        </li>

      </ul>
      
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li *ngIf="isLoggedIn" style="margin-top: 18px; color: white;">
          <h5 *ngIf="isManager">Manager</h5>
          <h5 *ngIf="!isManager">Agent</h5>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link">
            <button class="btn-sm" mdbBtn color="info" (click)="logout()">Logout</button>
          </a>
        </li>
      </ul>
      
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->