<div class="container">
    <div>
        <h3>Customer List</h3>
    </div>
    
    <div>
          <div class="container">
            <div class="row">
              <div class="col-sm" class="card-display" *ngFor="let c of a">
                <mdb-card >
                    <mdb-card-body>
                      <mdb-card-title>
                        <h4>Albert Felix</h4>
                      </mdb-card-title>
                      <div style="display: flex;">
                          <img style="margin-right: 15px;" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="" width="50" height="50">
                          <div>
                              <mdb-card-text> Location </mdb-card-text>
                              <mdb-card-text> View Details................ </mdb-card-text>
                          </div>
                      </div>
                    </mdb-card-body>
                  </mdb-card>
              </div>
            </div>
        </div>
    </div>
</div>


      