<div class="container">
    <div>
        <h3 class="p-4">Customer List</h3>
    </div>
      <div class="form-outline">
        <input type="text" [(ngModel)]="search" class="form-control" placeholder="Start Typing to Search" />
      </div>
      <!-- <input type="text" [(ngModel)]="search" value="search"> -->
    <div>
          <div class="container p-5">
            <div class="row">
              <div class="col-sm" class="card-display" *ngFor="let customer of customers | filter:search | paginate: {
                itemsPerPage: itemsPerPage,
                currentPage: page
              }; index as i">
                <mdb-card >
                    <mdb-card-body>
                      <mdb-card-title>
                        <a><h4 (click)="getCustomerInfo(customer.id)" class="text-primary">{{customer.name}}</h4></a>
                      </mdb-card-title>
                      <div style="display: flex;">
                          <img style="margin-right: 15px;" src='{{"/assets/images/" + customer.gender.toLowerCase() + ".jpeg"}}' alt="" width="50" height="50">
                          <div>
                              <mdb-card-text> {{customer.location}} </mdb-card-text>
                              <mdb-card-text class="text-info" > <a (click)="getCustomerInfo(customer.id)" >View Orders</a>  </mdb-card-text>
                          </div>
                      </div>
                    </mdb-card-body>
                  </mdb-card>
              </div>
            </div>
        </div>
    </div>
    <pagination-controls  (pageChange)="handlePageChange($event)"></pagination-controls>
</div>


      