<div class="container p-4" >
    <div class="jumbotron hoverable p-4">
        <h3>Customer Information</h3>
        <!-- Grid row -->
        <div class="row">
        
          <!-- Grid column -->
          <div class="col-md-4 offset-md-1 mx-3 my-3">
            
            <!-- Featured image -->
            <div class="view overlay waves-light" mdbWavesEffect>
              <img src='{{"/assets/images/" + "male" + ".jpeg"}}' class="img-fluid" alt="Customer photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-md-7 text-md-left ml-3 mt-3">
      
            <h4 class="h4 mb-4">Personal Info</h4><hr/>
            <div class="p-4">
                <p>Name : </p>
                <p>Age : </p>
                <p>Gender : </p>
                <p>Location : </p>
                <p>Email : </p>
                <p>Phone : </p>
            </div>
            
            <h4 class="h4 mb-4">Order Details</h4><hr/>
            <div class="p-4">


            </div>

      
          </div>
          <!-- Grid column -->
      
        </div>
        <!-- Grid row -->
      
      </div>
</div>
